body {
  max-width: 380px;
  margin: auto;
  background: #ddd;
}

img {
  display: block;
  max-width: 100%;
}
.section {
  padding: 40px;
  text-align: center;
}

.cta-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-title {
  background: white;
  color: #E3F4FF;
  padding: 40px;
  margin-bottom: 20px;
}

.section {
  padding: 40px;
  text-align: center;
}

.section-produits {
  background: #060E17;
  color: #E3F4FF;
}

.section {
  padding: 40px;
  text-align: center;
}

.section {
  padding: 40px;
  text-align: center;
}

  footer {
    background: #060E17;
    color: #E3F4FF;
    padding: 20px 50px;
}

header {
  background-image: url(../img/bg-header.jpg);
  background-size: cover;
  padding: 40px;
  border-top: 5px solid #060E17;
}